<div class="container">
    <h3 class="text-center">{{ title }}</h3>
    <div class="row">
      <div class="col-md-4">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
          <a class="navbar-brand" href="#">Quotes</a>
          <nav class="nav nav-pills flex-column">
            <a *ngFor="let quote of quotes.slice().reverse()" class="nav-link" href="#item-{{ quote.id }}">{{ quote.author }}</a>
            
          </nav>
        </nav>
      </div>
      <div class="col-md-8">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" class="scroll">
          <span *ngFor="let quote of quotes.slice().reverse(); let i = index">
            <h4 id="item-{{ quote.id }}">{{ quote.author }}</h4>
            <p>{{ quote.quote }}</p>
            <p>Added by {{ quote.user }} on <em>{{quote.dateAdded | date}}</em></p>
            <app-rating [quote]="quote" ></app-rating>
            <button (click)="deleteBtn(true, i)" class="btn-danger">Delete Quote</button>
          </span>
          
        </div>
      </div>
    </div>
  </div>

<app-add-quote (addQuote)="addNewQuote($event)"></app-add-quote>