<div class="p-5 mb-4 bg-light round-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Inspirational Quotes</h1>
        <p class="col-md-8 fs-4">Are you looking for inspiration? Would you like to inspire others? This is your home for all inspirational quotes. Inspire others as you get inspired with thousands of amazing inspirational quotes.</p>
        <a class="btn btn-primary btn-lg" role="button" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Quote</a>
    </div>
</div>